.headerdiv {
    background-color: beige;
}
/*.headerelement {*/
    /*display: inline;*/
/*}*/
#headerTitle {
    float: left;
}
.headerdiv {
    margin: 20px;
}

#logo {
    width: 40px;
    height: 40px;
}

.loginlabel {
    width: 100px;
}